<!-- Jumbotron -->
<div id="welcomepage" class="jumbotron jumbotronColor">
  <h1 class="text-center">PAGO CHI NON PAGA</h1>
  <!-- Barra di Ricerca nel Jumbotron -->
  <div class="">
    <%= render "layouts/home/barra_ricerca_home" %>
  </div>
  <!-- Testo nel Jumbotron -->
  <div class="container-fluid" style="padding-top:30px;">
    <div class="col-sm-4 bottom-align-text">
      <p class="txtJumbotron">FACCIO ACQUISTI<br> E DICO <b>NO</b> AL PIZZO</p>
    </div>
    <div class="col-sm-4">
      <%= image_tag "template/logo/Logo_footer.png", :id => "logoJumbotron", :class => "img-responsive" %>
    </div>
    <div class="col-sm-4 bottom-align-text text-right">
      <p class="txtJumbotron">SEGNI DI CIVILT&Aacute;</p>
    </div>
  </div>
</div>
<!-- Contenuto Principale Home Page -->
<div class="container">
  <div class="row">
  <!-- Statistiche Sezione SX -->
    <div class="col-md-6">
      <div class="statistiche">
        <h3>I Nostri Numeri:</h3>
      </div>
      <!-- Dati Piattaforma-->
      <div id="DatiStatistiche" class="row">
        <div class="col-xs-2 col-xs-offset-1 text-right">
          <h3 class="numeriStatistiche text-center"><%= Impresa.count %></h4>
        </div>
        <div class="col-xs-7 col-xs-offset-2 col-sm-offset-1">
          <h4 style="padding-top:15px;">Attivit&aacute Aderenti</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1 text-right">
          <h3 class="numeriStatistiche text-center"><%= Impresa.get_num_imprese %></h4>
        </div>
        <div class="col-xs-7 col-xs-offset-2 col-sm-offset-1">
          <h4 style="padding-top:15px;">Marchio Certificato</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1 text-right">
          <h3 class="numeriStatistiche text-center"><%= Utente.get_num_utenti %></h4>
        </div>
        <div class="col-xs-7 col-xs-offset-2 col-sm-offset-1">
          <h4 style="padding-top:15px;">Utenti Iscritti</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1 text-right">
          <h3 class="numeriStatistiche text-center"><%= Cliente.get_num_clienti %></h4>
        </div>
        <div class="col-xs-7 col-xs-offset-2 col-sm-offset-1">
          <h4 style="padding-top:15px;">Sostenitori</h4>
        </div>
      </div>
    </div>
    <!-- Statistiche Sezione DX -->
    <div class="col-md-6">
      <div class="statistiche">
        <h3>5 Negozi per te:</h3>
      </div>
      <!-- Imprese -->
      <% Impresa.get_random_imprese.each do |impresa| %>
        <div id="DatiStatistiche" class="row">
          <div class="col-xs-2 col-xs-offset-1 col-md-offset-0">
            <div id="imgImpresa">
                <%= image_tag(impresa.image, :id => "imgImpresaHome", :class => "img-responsive") %>
            </div>
          </div>
          <div class="col-xs-7 col-xs-offset-2 col-sm-offset-1 col-lg-offset-1">
            <div id="datiImpresa">
            <h4><%= link_to impresa.nome, impresa_path(nome: impresa.nome, id: impresa.id), method: :get %></h4>
            <h5>
              <%
                # Stampo la lista delle categorie separate da una virgola
                str = ""
              %>
              <% impresa.getCategorie.each do |categoria| %>
                <% str += "#{categoria}, " %>
              <% end %>
              <%=
                # Elimino la punteggiatura all'ultima categoria
                str.gsub(/\, $/, '')
              %>
            </h5>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
