<%- model_class = Categoria -%>
<!-- Jumbotron -->
<div id="categoriepage" class="jumbotron jumbotronColor">
  <h1 class="sfumato text-center"><span>CATEGORIE<span></h1>
  <!-- Barra di Ricerca nel Jumbotron -->
  <div class="">
    <%= render "layouts/home/barra_ricerca_home" %>
  </div>
  <!-- Testo nel Jumbotron -->
  <div class="container-fluid" style="padding-top:30px;">
    <div id="logo_ap" class="col-sm-4 col-sm-offset-4">
      <%= image_tag "template/logo/consumocritico.png", :id => "logoJumbotron", :class => "img-responsive" %>
    </div>
  </div>
</div>
<!-- Lista delle Categorie -->
<div class="container">
  <div class="col-md-12">
    <div class="list-group">
      <a class="list-group-item text-center active" data-remote="true" href="#" id="categoria_0">
        Tutte le Categorie e Sottocategorie
      </a>
      <!-- Elenco Categorie -->
      <% @categorie.each do |categoria| %>
        <%
          # Usate per id e href
          idCategoria = "categoria_#{categoria.nome}"
          rifSottocategoria = "sottocategoria_#{categoria.nome}"
          sottoCat = categoria.sottocategorie
        %>
        <div class="list-group-item" data-remote="true" href="#<%= rifSottocategoria %>" id="<%= idCategoria %>" data-toggle="collapse" data-parent="#<%= rifSottocategoria %>" style="padding-left: 25px;">
          <span class="glyphicon glyphicon-menu-down"></span>
          <span style="margin-left: 25px;"><%= link_to categoria.nome, categoria_sottocategorie_path(categoria_nome: categoria.nome) %></span>
        </div>

        <div class="collapse list-group-submenu" id="<%= rifSottocategoria %>">
          <% sottoCat.each do |sottocategoria| %>
            <%= link_to sottocategoria.nome, categoria_sottocategoria_path(categoria_nome: categoria.nome, nome: sottocategoria.nome), :class => "list-group-item sub-item", :data => "#sub_categoria_alimentari", :style => "padding-left: 78px;" %>
          <% end %>
       </div>
      <% end %>
    </div>
  </div>
</div>
