<%- model_class = Prodotto -%>

<!-- Lista Prodotti
  TODO E' una copia della view di prodotti Index, vedere se si riesce ad eliminare la ridondanza
-->
<div class="row">
  <div id="listaProdotti" class="col-xs-12 collapse">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:nome) %></th>
          <th><%= model_class.human_attribute_name(:prezzo) %></th>
          <th><%= model_class.human_attribute_name(:qta) %></th>
          <th><%= model_class.human_attribute_name(:descrizione) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @prodotti.each do |prodotto| %>
          <% if prodotto.impresa_id.to_i == params[:id].to_i %>
            <% if !prodotto.eliminato %>
          <tr>
            <td><%= prodotto.id %></td>
            <td><%= link_to prodotto.nome, impresa_prodotto_path(impresa_nome: params[:nome],nome: prodotto.nome, id_p: prodotto.id,method: :get),
                      :data => {:toggle => "modal", :target => "#myModal"} %></td>
            <td><%= prodotto.prezzo %></td>
            <td><%= prodotto.qta %></td>
            <td><%= prodotto.descrizione %></td>
            <td><%= prodotto.created_at %></td>
            <td>
              <% if utente_signed_in? && current_utente.isCliente? %>
                <%= simple_form_for prodotto, url:  add_cart_carrello_path(current_utente.actable_id, prodotto_id: prodotto.id),method: :post , :html => { :class => 'form-horizontal' } do |f| %>
                  <%= f.button :submit , "Aggiungi al carrello"%>
                  <%= f.number_field :qta, :class => 'text_field',:value => 1 %>
                <% end %>
              <%end%>
              <% if utente_signed_in? && current_utente.isMyImpresa?(Impresa.find(params[:id])) %>
                 <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_impresa_prodotto_path(nome: prodotto.nome,id_p: prodotto.id), :class => 'btn btn-default btn-xs',method: :get %>
                 <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      impresa_prodotto_elimina_prodotto_path(impresa_nome: prodotto.impresa.nome, prodotto_nome: prodotto.nome, id_p: prodotto.id),
                      :method => :post,:class => 'btn btn-xs btn-danger',
                      data: { :confirm => "\t\t\t\t\t\t\t\tATTENZIONE!!!! \nEliminando questo prodotto dovrai comunque evadere eventuali ordini in cui è presente. Continuare comunque?" }%>
              <% end %>
              </td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>


  <!-- TODO Prova del Popup (Bootstrap Modal) -->
  <span>

    <!--  <% render :partial => "prodotti/index" %> -->

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </span>


</div>
