<%= simple_form_for @impresa, :html => { :class => 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
  check_boxes: :horizontal_radio_and_checkboxes,
  radio_buttons: :horizontal_radio_and_checkboxes,
  file: :horizontal_file_input,
  boolean: :horizontal_boolean
  } do |f| %>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Dati impresa</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :nome%>
          <%= error_span(@impresa[:nome]) %>
          <%= f.input :email %>
          <%= error_span(@impresa[:email]) %>
        </div>
        <div class="col-md-6">
          <%= f.input :telefono %>
          <%= error_span(@impresa[:telefono]) %>
          <%= f.input :fax %>
          <%= error_span(@impresa[:fax]) %>
        </div>
      </div>
      <div class="page-header"></div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :indirizzo%>
          <%= error_span(@impresa[:indirizzo]) %>
          <%= f.input :descrizione_indirizzo %>
          <%= error_span(@impresa[:descrizione_indirizzo]) %>
        </div>
        <div class="col-md-6">
          <%= f.input :locality, :input_html => { :id => "locality" }, readonly: true %>
          <%= f.hidden_field_tag :route %>
          <%= f.hidden_field_tag :administrative_area_level_1 %>
          <%= f.hidden_field_tag :administrative_area_level_2 %>
          <%= f.hidden_field_tag :administrative_area_level_3 %>
          <%= f.hidden_field_tag :neighborhood %>
          <%= f.hidden_field_tag :country %>
          <%= f.input :citta_id, collection: Citta.all, default: 1 %>
          <%= error_span(@impresa[:citta_id]) %>
        </div>
      </div>
      <div class="page-header"></div>
      <div class="row">
        <div class="col-md-6">
          <%= f.association :sottocategorie, input_html: { size: 10 }%>
          <%= error_span(@impresa[:sottocategorie]) %>
        </div>
        <div class="col-md-6">
          <%= f.input :giorni_orari%>
          <%= error_span(@impresa[:giorni_orari]) %>
          <%= f.input :sitoweb %>
          <%= error_span(@impresa[:sitoweb]) %>
          <%= f.input :facebook %>
          <%= error_span(@impresa[:facebook]) %>
        </div>
      </div>
      <div class="page-header"></div>
      <div class="row">
        <div class="col-md-12">
          <%= f.label :descrizione %>
          <%= f.text_area :descrizione, :class => "WYSIWYG" %>
          <%= error_span(@impresa[:descrizione]) %>
        </div>
      </div>

      <div class="page-header"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-0">
          <%= f.label :image %>
          <%= f.file_field :image %>
          <%= f.cropbox :image, height: 200, width: 300, :class => "cropboxCopertina" %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= f.button :submit, :class => 'btn-primary' %>
    </div>
  </div>

  <!-- TODO TMP da risolvere -->
  <%= f.input :latitude %>
  <%= error_span(@impresa[:latitude]) %>
  <%= f.input :longitude %>
  <%= error_span(@impresa[:longitude]) %>
  <%= f.input :verificato %>
  <%= error_span(@impresa[:verificato]) %>
    <%= f.input :congelato %>
    <%= error_span(@impresa[:congelato]) %>

    <%= hidden_field_tag(:id,@impresa.id) %>

<% end %>
