<p id="notice"><%= notice %></p>

<h1>Listing Imprese</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefono</th>
      <th>Fax</th>
      <th>Giorni orari</th>
      <th>Email</th>
      <th>Sitoweb</th>
      <th>Facebook</th>
      <th>Descrizione</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Verificato</th>
      <th>Congelato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imprese.each do |impresa| %>
      <tr>
        <td><%= impresa.nome %></td>
        <td><%= impresa.telefono %></td>
        <td><%= impresa.fax %></td>
        <td><%= impresa.giorni_orari %></td>
        <td><%= impresa.email %></td>
        <td><%= impresa.sitoweb %></td>
        <td><%= impresa.facebook %></td>
        <td><%= impresa.descrizione %></td>
        <td><%= impresa.lat %></td>
        <td><%= impresa.lng %></td>
        <td><%= impresa.verificato %></td>
        <td><%= impresa.congelato %></td>
        <td><%= link_to 'Show', impresa %></td>
        <td><%= link_to 'Edit', edit_impresa_path(impresa) %></td>
        <td><%= link_to 'Destroy', impresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Impresa', new_impresa_path %>
