<%- model_class = Impresa -%>
<script>function queryParams() {
    return {
        type: 'owner',
        sort: 'updated',
        direction: 'desc',
        per_page: 100,
        page: 1
    };
}</script>
<script>
    function detailFormatter(index, row) {
      console.log(index);
      console.log(row);
        var html = [];
        $.each(row, function (key, value) {
            if (key.charAt(0) !== "_"){
              //console.log(value);
              html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            }
        });
        return html.join('');
    }
</script>
<!-- Jumbotron -->
<div id="impresepage" class="jumbotron jumbotronColor">
  <h1 class="sfumato text-center"><span>IMPRESE<span></h1>
  <!-- Barra di Ricerca nel Jumbotron -->
  <div class="">
    <%= render "layouts/home/barra_ricerca_home" %>
  </div>
  <!-- Testo nel Jumbotron -->
  <div id="logo_pizzo" class="container-fluid" style="padding-top:30px;">
    <div id="logo_ap" class="col-sm-4 col-sm-offset-4">
      <%= image_tag "template/logo/Logo_footer.png", :id => "logoJumbotron", :class => "img-responsive" %>
    </div>
  </div>
</div>
<!-- Tabella con lista imprese -->
<div class="container">

  <div class="col-md-12">
  <table class="table table-hover"
    data-toggle="table"
    data-search="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-show-cardview="false"
    data-sort-name="nome"
    data-sort-order="asc"
    data-pagination="true"
    data-query-params="queryParams"
    data-page-list="[5, 10, 20, 50, 100, 200]"
    data-show-header="true"
    data-detail-view="true"
    data-detail-formatter="detailFormatter">
    <thead>
      <tr>
        <th data-field="nome" data-sortable="true"><%= model_class.human_attribute_name(:nome) %></th>
        <th data-field="giorni_orari" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:giorni_orari) %></th>
        <th data-field="citta_id" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:citta_id) %></th>
        <th data-field="indirizzo" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:indirizzo) %></th>
        <th data-field="telefono" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:telefono) %></th>
        <th data-field="fax" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:fax) %></th>
        <th data-field="email" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:email) %></th>
        <th data-field="sitoweb" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:sitoweb) %></th>
        <th data-field="facebook" data-sortable="true" data-visible="false"><%= model_class.human_attribute_name(:facebook) %></th>
      </tr>
    </thead>
    <tbody>
      <% @imprese.each do |impresa| %>
        <tr>
          <td><%= link_to impresa.nome,impresa_path(nome: impresa.nome, id: impresa.id),method: :get %></td>
          <td><%= impresa.giorni_orari %></td>
          <td><%= impresa.citta_id %></td>
          <td><%= impresa.indirizzo %></td>
          <td><%= impresa.telefono %></td>
          <td><%= impresa.fax %></td>
          <td><%= impresa.email %></td>
          <td><%= impresa.sitoweb %></td>
          <td><%= impresa.facebook %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <% if utente_signed_in? && current_utente.isTitolare?%>
    <%= link_to t('.new', :default => t("helpers.links.new")),
              new_impresa_path,
              :class => 'btn btn-primary',method: :get %>
  <% end %>

</div>
