<%- model_class = Impresa -%>
<script src="//maps.google.com/maps/api/js?key=AIzaSyBzvisYtIWdt5PVvyiRkBdkVCvD2QIPJZY"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<script>
 // Inizializza la Mappa
 var coordinate = <%=raw @hash.to_json %>;

 $(document).ready(function(){
  // Controlla che siano impostate le coordinate
  if(coordinate[0].lat == null && coordinate[0].lng== null) return;
  // Mostro la mappa
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'mappa'}}, function(){
    markers = handler.addMarkers(coordinate);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(18);
  });
 });
 </script>

<!-- Hero Image -->
<section id="hero" class="">
  <%= image_tag(@impresa.image, :id => "heroImg", :class => "img-responsive") %>
</section>

<!-- Breadcumb -->
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Imprese", imprese_path %></li>
    <li class="active"><%= @impresa.nome %></li>
  </ol>

<!-- Sezione Negozio -->
<section class="container">
  <!-- Info Negozio -->
  <div id="infoNegozio" class="row">
    <div id="nomeNegozio" class="col-md-4 col-xs-9">
      <h2><%= @impresa.nome %></h2>
    </div>
    <div id="provinciaNegozio" class="col-md-4 col-md-offset-3 col-xs-1">
      <h4><%= @impresa.citta.nome %></h4>
    </div>
  </div>
  <!-- Descrizione Negozio -->
  <div id="descrizioneNegozio" class="row">
    <div class="col-md-12">
      <h4>Descrizione:</h4>
      <p><%= sanitize @impresa.descrizione %></p>
    </div>
  </div>
  <!-- Catalogo -->
  <div id="catalogo" class="row">
    <div id="descrizioneCatalogo" class="col-md-6 col-xs-4">
      <% if @impresa.titolare.has_email_paypal %>
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <h3>
        <%= link_to "Consulta il catalogo", impresa_prodotti_path(impresa_nome: @impresa.nome,id: params[:id]) , class: "txtCatalogo", method: :get %>
      </h3>
      <% end %>

    </div>
    <div id="iconeCatalogo" class="col-xs-2 col-md-offset-4 col-xs-offset-4">
      <% if @impresa.sitoweb %>
        <%= link_to "#{@impresa.sitoweb}" do %>
          <span class="fa fa-globe"></span>
        <% end %>
      <% end %>
      <% if @impresa.facebook %>
        <%= link_to "#{@impresa.facebook}" do %>
          <span class="fa fa-facebook-official"></span>
        <% end %>
      <% end %>
      <% if @impresa.email %>
        <%= link_to "mailto:#{@impresa.email}" do %>
          <span class="fa fa-envelope-o"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<!-- Mappa -->
<section id="sezioneMappa" class="container">
  <div class="row">
    <div class="col-md-12 img-responsive" id="mappa"></div>
    <div id="riquadro" class="">
      <p>Informazioni</p>
      <p>Indirizzo: <%= @impresa.indirizzo %></p>
      <p>Telefono: <%= @impresa.telefono %></p>
      <p>E-mail: <%= @impresa.email %></p>
    </div>
  </div>
</section>
