<script src="//maps.google.com/maps/api/js?key=AIzaSyBzvisYtIWdt5PVvyiRkBdkVCvD2QIPJZY"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<%- model_class = Impresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @impresa.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
  <dd><%= @impresa.telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
  <dd><%= @impresa.fax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:giorni_orari) %>:</strong></dt>
  <dd><%= @impresa.giorni_orari %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @impresa.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sitoweb) %>:</strong></dt>
  <dd><%= @impresa.sitoweb %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook) %>:</strong></dt>
  <dd><%= @impresa.facebook %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descrizione) %>:</strong></dt>
  <dd><%= @impresa.descrizione %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @impresa.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @impresa.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:indirizzo) %>:</strong></dt>
  <dd><%= @impresa.indirizzo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:verificato) %>:</strong></dt>
  <dd><%= @impresa.verificato %></dd>
  <dt><strong><%= model_class.human_attribute_name(:congelato) %>:</strong></dt>
  <dd><%= @impresa.congelato %></dd>
  <dt><strong><%= model_class.human_attribute_name(:citta) %>:</strong></dt>
  <dd><%= @impresa.getCitta %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titolare) %>:</strong></dt>
  <dd><%= @impresa.getTitolare %></dd>
</dl>

<%= link_to "I Nostri Prodotti", impresa_prodotti_path(impresa_nome: @impresa.nome,id: params[:id]), :class => 'btn btn-default' ,method: :get %>

<%= link_to t('.tutte_le_imprese', :default => t("helpers.links.tutte_le_imprese")),
              imprese_path, :class => 'btn btn-default' ,method: :get %>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
  <script type="text/javascript">
  handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
  </script>
