<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @utente.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @utente.cognome %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @utente.cf %>
</p>

<p>
  <strong>Data nascita:</strong>
  <%= @utente.data_nascita %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @utente.telefono %>
</p>

<%= link_to 'Edit', edit_utente_path(@utente) %> |
<%= link_to 'Back', utenti_path %>
