<%= form_for(@sottocategorie) do |f| %>
  <% if @sottocategorie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sottocategorie.errors.count, "error") %> prohibited this sottocategorie from being saved:</h2>

      <ul>
      <% @sottocategorie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
