<p id="notice"><%= notice %></p>

<h1>Listing Sottocategoria</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sottocategoria.each do |sottocategorie| %>
      <tr>
        <td><%= sottocategorie.nome %></td>
        <td><%= link_to 'Show', sottocategorie %></td>
        <td><%= link_to 'Edit', edit_sottocategorie_path(sottocategorie) %></td>
        <td><%= link_to 'Destroy', sottocategorie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sottocategorie', new_sottocategorie_path %>
