<%- model_class = Carrello -%>
<div class="container">
  <div class="page-header">
    <h1>Il mio <%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width = "20%"><%= model_class.human_attribute_name(:image) %></th>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th><%= model_class.human_attribute_name(:descrizione) %></th>
            <th><%= model_class.human_attribute_name(:impresa) %></th>
            <th><%= model_class.human_attribute_name(:prezzo) %></th>
            <th><%= model_class.human_attribute_name(:quantita) %></th>
            <th><%= model_class.human_attribute_name(:azioni) %></th>
          </tr>
        </thead>
        <tbody>
            <!-- Prodotti nel carrello -->
            <% @carrello.cart_items.each do |item| %>
            <% prodotto = Prodotto.find(item.item_id) %>
              <tr>
                <td><%= image_tag(prodotto.image, :class => "img-responsive") %></td>
                <td><%= link_to prodotto.nome, impresa_prodotti_path(id: prodotto.id, impresa_nome: prodotto.impresa.getNome) %></td>
                <td><%= prodotto.descrizione %></td>
                <td><%= prodotto.impresa.getNome %></td>
                <td><%= item.price %></td>
                <td><%= item.quantity %></td>
                <td><%= link_to "Rimuovi", remove_item_carrello_path(id: params[:id],item: item),
                        :class => 'btn btn-danger btn-xs', method: :post %> </td>
                <td>
                  <%= link_to 'più uno', aggiungi_quantita_carrello_path(item: item.id,carrello_id: @carrello.id) ,method: :post %>
                </td>
                <td>
                  <%= link_to 'meno uno', sottrai_quantita_carrello_path(item: item.id,carrello_id: @carrello.id) ,method: :post %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pull-right">
          <dl class="dl-horizontal">
            <dt><strong><%= model_class.human_attribute_name(:totale) %>:</strong></dt>
            <dd><%= @carrello.subtotal%></dd>
          </dl>
        </div>
        <div class="pull-right">
          <p>La <%= model_class.human_attribute_name(:spedizione) %> verra' aggiunta dal venditore dopo aver confermato l'ordine</p>
        </div>
    </div>
    <div class="panel-footer">
      <% if @carrello.has_items? %>
        <%= button_to "Procedi all'acquisto", prepara_ordini_ordine_path(id: current_utente.actable_id), :class => "btn btn-primary pull-right", method: :post%>
      <% end %>




      <!-- TODO eliminare?? -->

      <% if current_utente.actable_type == "Cliente" %>
        <%= link_to t('.vaiAlProfilo', :default => t("helpers.links.vaiAlProfilo")),
                    cliente_path(id: current_utente.actable_id), :class => 'btn btn-default', method: :get%>
      <% else %>
        <%= link_to t('.profilo', :default => t("helpers.links.profilo")),
                    titolare_path(id: current_utente.actable_id), :class => 'btn btn-default', method: :get%>
      <% end %>
    </div>
  </div>





  <!-- Fare la lista dei prodotto per impresa

    <% @carrello.impresaElemento.each do |lista| %>
    <tr>
      <td><%= %></td>
    </tr>
    <% end %>
  -->


</div>
