<%- model_class = Ordine -%>
<%= simple_form_for @ordine, :html => { :class => 'form-horizontal' } do |f| %>
<% impresa = Impresa.find(@ordine.impresa_id) %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Dati Ordine #<%= @ordine.id %></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <dl class="dl-horizontal">
        <div class="col-sm-6 col-md-6 col-xs-offset-1 col-sm-offset-1">
          <dt><strong><%= model_class.human_attribute_name(:cliente_id)%>:</strong></dt>
          <dd><%= Cliente.find(@ordine.cliente_id).getNome %></dd>
          <dt><strong><%= model_class.human_attribute_name(:impresa_id)%>:</strong></dt>
          <dd><%= link_to impresa.getNome, impresa_path(nome: impresa.nome, id: impresa.id), method: :get %></dd>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-offset-1 col-sm-offset-1">
          <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
          <dd><%= @ordine.created_at %></dd>
        </div>
      </dl>
    </div>
    <div class="page-header"></div>
    <div class="row">

      <% if current_utente.isTitolare? %>
        <div class="col-xs-6 col-sm-3 col-xs-offset-1 col-sm-offset-2">
          <%= f.input :spedizione , :disabled => @ordine.spedizione?%>
          <%= error_span(@ordine[:spedizione]) %>
        </div>
        <div class="col-xs-6 col-sm-3 col-xs-offset-1 col-sm-offset-2">
          <%= f.association :stato_ordine ,prompt: @ordine.stato_ordine.stato,collection: @ordine.getStatiDisponibiliTitolare,:disabled =>!@ordine.spedizione?%>
          <%= error_span(@ordine[:stato]) %>
        </div>
      <% end %>

      <% if current_utente.isCliente? %>
        <div class="col-xs-6 col-sm-3 col-xs-offset-1 col-sm-offset-2">
          <%= f.association :stato_ordine ,prompt: @ordine.stato_ordine.stato,collection: @ordine.getStatiDisponibiliCliente%>
          <%= error_span(@ordine[:stato]) %>
        </div>
      <% end %>
</div>

  </div>
  <div class="panel-footer">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  ordini_path, :class => 'btn btn-default' %>
  </div>
</div>
<% end %>
