<%- model_class = Ordine -%>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:impresa_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:totale) %></th>
      <th><%= model_class.human_attribute_name(:stato_ordine) %></th>
    </tr>
  </thead>
  <tbody>
    <% @ordiniCompletati.each do |ordine| %>
    <tr onclick="location.href='<%= ordine_path(id: ordine.id) %>'">
      <td><%= ordine.id %></td>
      <td><%= Impresa.find(ordine.impresa_id).name %></td>
      <td><%= ordine.created_at %></td>
      <td><%= ordine.getTotale %></td>
      <td><%= ordine.stato_ordine.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
