<%- model_class = Ordine -%>
<div class="col-md-12" style="margin-top: 10px">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="pull-right" style="margin-right: 20px"><%= @ordine.getStato %></h3>
      <h2>Resoconto Ordine #<%= @ordine.id %></h2>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
        <dd><%= @ordine.created_at %></dd>

        <dt><strong><%= model_class.human_attribute_name(:cliente_id) %>:</strong></dt>
        <dd><%= Cliente.find(@ordine.cliente_id).getNome %></dd>
        <dt><strong><%= model_class.human_attribute_name(:impresa_id) %>:</strong></dt>
        <dd><%= Impresa.find(@ordine.impresa_id).getNome %></dd>
        <dt><strong><%= model_class.human_attribute_name(:stato_ordine) %>:</strong></dt>
        <dd><%= @ordine.getStato %></dd>
        <!-- Stampa la lista dei prodotti -->
        <div class="page-header">
          <h3>Lista dei prodotti</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:prodotto_id) %></th>
              <th><%= model_class.human_attribute_name(:nome) %></th>

              <th><%= model_class.human_attribute_name(:prezzo) %></th>
              <th><%= model_class.human_attribute_name(:qta) %></th>
            </tr>
          </thead>
          <tbody>
            <% @ordine.prodotti.uniq.each do |prodotto| %>
            <tr>
              <td><%= prodotto.id %></td>
              <td><%= prodotto.nome %></td>
              <td><%= prodotto.prezzo %></td>
              <td><%= @ordine.occorrenzeProdotto(prodotto.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <!-- Totale e Spedizione -->
        <div class="align-rigth">
          <dt><strong><%= model_class.human_attribute_name(:spedizione) %>:</strong></dt>
          <dd><%= @ordine.getSpedizione %></dd>
          <dt><strong><%= model_class.human_attribute_name(:totale) %>:</strong></dt>
          <dd><%= @ordine.getTotale %></dd>
        </div>
      </dl>



    </div>
    <div class="panel-footer">
      <% if current_utente.isCliente? %>
        <!-- Pagamento disponibile solo se si è in conferma richiesta -->
        <% if @ordine.getStato == StatoOrdine.CONFERMA %>
          <%= link_to "Pocedi al pagamento con paypal", paypal_url_ordine_path(id: @ordine.id), method: :post %>
        <%end%>
      <% end %>

      <%= link_to t('.back', :default => t("helpers.links.back")),
                    ordini_path, :class => 'btn btn-default' ,method: :get %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_ordine_path(@ordine), :class => 'btn btn-default',method: :get %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    ordine_path(@ordine),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
    </div>
  </div>
</div>
