<%- model_class = Sottocategoria -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:categoria_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sottocategorie.each do |sottocategoria| %>
      <tr>
        <td><%=  sottocategoria.id %></td>
        <td><%= link_to sottocategoria.nome , categoria_sottocategoria_path(categoria_nome: params[:categoria_nome], nome: sottocategoria.nome),method: :get %></td>
        <td><%= sottocategoria.categoria_id %></td>
        <td><%=l sottocategoria.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.lista_categorie', :default => t("helpers.links.lista_categorie")),
              categorie_path, :class => 'btn btn-default',method: :get  %>
