<%- model_class = Sottocategoria -%>
<div class="page-header">
  <h1><%=t '.title', :default => t("helpers.links.lista_imprese") %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sottocategoria.imprese.each do |impresa| %>
    <% if impresa.verificato && !impresa.congelato %>
      <tr>
        <td><%= link_to impresa.nome , impresa_path(id: impresa.id) %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>


<%= link_to t('.lista_sottocategorie', :default => t("helpers.links.lista_sottocategorie")),
              categoria_sottocategorie_path, :class => 'btn btn-default'  %>
