<%- model_class = Sottocategoria -%>
<!-- Jumbotron -->
<div id="sottocategoriepage" class="jumbotron jumbotronColor">
  <h1 class="sfumato text-center"><span>LISTA IMPRESE<span></h1>
  <!-- Barra di Ricerca nel Jumbotron -->
  <div class="">
    <%= render "layouts/home/barra_ricerca_home" %>
  </div>
  <!-- Testo nel Jumbotron -->
  <div class="container-fluid" style="padding-top:30px;">
    <div id="logo_ap" class="col-sm-4 col-sm-offset-4">
      <%= image_tag "template/logo/Logo_footer.png", :id => "logoJumbotron", :class => "img-responsive" %>
    </div>
  </div>
</div>

<!-- Lista imprese -->
<div class="container">
  <div id="listaImprese" class="page-header">
    <%
      sottocategoria = @sottocategoria
      categoria = @sottocategoria.getCategoria
    %>
    
    <h2>
      <span><%= link_to categoria.getNome, categoria_sottocategorie_path(categoria_nome: categoria.getNome) %>/</span>
      <span id="attivo"><%= sottocategoria.getNome %></span>
    </h2>
  </div>
  <!-- Tabella -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:nome) %></th>
      </tr>
    </thead>
    <tbody>
      <% @sottocategoria.imprese.each do |impresa| %>
        <% if impresa.isAttiva? %>
          <tr>
            <td><%= link_to impresa.nome , impresa_path(id: impresa.id),method: :get %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('.lista_sottocategorie', :default => t("helpers.links.lista_sottocategorie")),
                categoria_sottocategorie_path, :class => 'btn btn-default', method: :get  %>

</div>
