<%= form_tag(impresa_path(:impresa , :id), method: "get", class: "navbar-form navbar-center",style:"
  text-align:center;
  ") do %>
  <div class="form-group" style="width: 30%;">
  <%= text_field_tag :impresa ,"", class: "form-control typeahead", style: "
     width: 100%;
     background-color: transparent;
     border: none;
     border-radius: 0;
     border-bottom-width: 1px;
     border-bottom-color: white;
     border-bottom-style: solid;"%>
     <%= hidden_field_tag "id", "", :id => "id_imp" %>
  </div>
  <%= button_tag(type: 'submit',id: "typesearch", class: "btn btn-default", style: "background-color:#F5A623;") do %>
    <span class="glyphicon glyphicon-search">
  <% end %>
  <!--
  <%= submit_tag "", class: "btn btn-default", style: "background-color:#F5A623;" %>
  -->
<% end %>
