<%- model_class = Citta -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @citta.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:provincia) %>:</strong></dt>
  <dd><%= @citta.provincia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:regione) %>:</strong></dt>
  <dd><%= @citta.regione %></dd>
  <dt><strong><%= model_class.human_attribute_name(:polo_id) %>:</strong></dt>
  <dd><%= @citta.polo_id %></dd>
</dl>

<div class="page-header">
  <h3><%= model_class.human_attribute_name(:imprese) %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:indirizzo) %></th>
      <th><%= model_class.human_attribute_name(:categoria) %></th>
      <th><%= model_class.human_attribute_name(:sottocategoria) %></th>
    </tr>
  </thead>
  <tbody>
    <% @citta.getImprese.each do |impresa| %>
      <tr>
        <td><%= link_to impresa.nome,impresa_path(nome: impresa.nome, id: impresa.id) %></td>
        <td><%= impresa.id %></td>
        <td><%= impresa.getIndirizzo %></td>
        <td><%= impresa.getCategoria %></td>
        <td><%= impresa.getSottocategoria %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              citta_index_path, :class => 'btn btn-default'  %>
