<%- model_class = Polo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @polo.nome %></dd>
</dl>

<div class="page-header">
  <h3><%= model_class.human_attribute_name(:citta) %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:provincia) %></th>
      <th><%= model_class.human_attribute_name(:regione) %></th>
      <th><%= model_class.human_attribute_name(:polo_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @polo.getCitta.each do |citta| %>
      <tr>
        <td><%=  citta.id %></td>
        <td><%=link_to citta.nome, citta_path(nome: citta.nome, id: citta.id) ,method: :get%></td>
        <td><%= citta.provincia %></td>
        <td><%= citta.regione %></td>
        <td><%= citta.polo_id %></td>
        <td><%=l citta.created_at %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.lista_poli', :default => t("helpers.links.lista_poli")),
              poli_path, :class => 'btn btn-default',method: :get  %>
