<%- model_class = Cliente -%>
<%= simple_form_for @cliente, :html => { :class => 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

  <div class="row">

    <div class="col-md-12">
      <!-- Sezione Anagrafica -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Dati Anagrafica</h4>
        </div>
        <div class="panel-body">
          <div class="text-center">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :nome %>
                <%= error_span(@cliente[:nome]) %>
                <%= f.input :cognome%>
                <%= error_span(@cliente[:cognome]) %>
                <%= f.input :citta_nascita %>
                <%= f.input :provincia_nascita %>
              </div>
              <div class="col-md-6">
                <%= f.input :sesso ,collection: ['M','F']%>
                <%= f.input :cf %>
                <%= error_span(@cliente[:cf]) %>
                <%= f.input :data_nascita, as: :string, input_html: {type: :date} %>
                <%= error_span(@cliente[:data_nascita]) %>
              </div>
            </div>
            <div class="page-header"></div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :indirizzo %> <!-- TODO visualizzare?? tipo relazione -->
                <%= error_span(@cliente[:indirizzo]) %>
                <%= f.input :descrizione_indirizzo %>
                <%= error_span(@cliente[:descrizione_indirizzo]) %>
                <%= f.input :telefono %>
                <%= error_span(@cliente[:telefono]) %>
              </div>
              <div class="col-md-6">
              <%= f.input :citta_id ,collection: Citta.all %> 
                <%= error_span(@cliente[:citta_id]) %>
              </div>
              <div class="col-md-6">
                <%= f.input :telefono %>
                <%= error_span(@cliente[:telefono]) %>
              </div>
              <div class="col-md-6">

              </div>
            </div>
            <div class="page-header"></div>
            <div class="row">
              <div class="col-md-6">


              </div>
            <div class="col-md-6">

            </div>
          </div>

          </div>
          </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
      <!-- Sezione Dati di Accesso -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Dati di accesso</h4>
        </div>
        <div class="panel-body">
          <%= f.input :email %>
          <%= error_span(@cliente[:email]) %>
          <%= f.input :password %>
          <%= error_span(@cliente[:password]) %>
          <%= f.input :password_confirmation %>
          <%= error_span(@cliente[:password_confirmation]) %>
        </div>
        <div class="panel-footer text-right">
          <%= f.button :submit, :class => 'btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              root_path, :class => 'btn btn-default',method: :get %>
        </div>
      </div>
    </div>
</div>


<% end %>
