<%- model_class = Prodotto -%>
<%= simple_form_for @prodotto, url: impresa_prodotti_path(nome: params[:impresa_nome],id: params[:id]), :html => { :class => 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
  check_boxes: :horizontal_radio_and_checkboxes,
  radio_buttons: :horizontal_radio_and_checkboxes,
  file: :horizontal_file_input,
  boolean: :horizontal_boolean
  }  do |f| %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6" style="margin-top:30px;">
        <%= f.input :nome %>
        <%= error_span(@prodotto[:nome]) %>
        <%= f.input :prezzo %>
        <%= error_span(@prodotto[:prezzo]) %>
        <%= f.input :qta %>
      </div>
      <div class="col-md-6">
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.cropbox :image, height: 200, width: 300 %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label :descrizione %>
        <%= f.text_area :descrizione, :class => "WYSIWYG" %>
        <%= error_span(@prodotto[:descrizione]) %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  impresa_prodotti_path(id: @prodotto.impresa_id), :class => 'btn btn-default',method: :get %>
  </div>
</div>
<% end %>
