<%- model_class = Prodotto -%>
<div class="container">
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
      <% @prodotti.each do |prodotto| %>
        <%= render :partial => "show", :locals => { :prodotto => prodotto }  %>
      <% end %>
  <%= hidden_field_tag(:id,params[:id]) %>

  <%= link_to t('.profilo_impresa', :default => t("helpers.links.profilo_impresa")),
        impresa_path(nome: params[:impresa_nome],id: params[:id]),
        :class => 'btn btn-default',method: :get %>
  <% if utente_signed_in? && current_utente.isMyImpresa?(Impresa.find(params[:id])) %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
          new_impresa_prodotto_path(id: params[:id]),
          :class => 'btn btn-primary' ,method: :get%>
  <% end %>
</div>
