<%- model_class = Prodotto -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= simple_form_for @prodotto, url: impresa_prodotti_path(nome: params[:impresa_nome],id: params[:id]) ,:html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nome %>
  <%= error_span(@prodotto[:nome]) %>
  <%= f.input :prezzo %>
  <%= error_span(@prodotto[:prezzo]) %>
  <%= f.input :qta %>
  <%= error_span(@prodotto[:qta]) %>
  <%= f.input :descrizione %>
  <%= error_span(@prodotto[:descrizione]) %>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                impresa_prodotti_path(id: params[:id]), :class => 'btn btn-default',method: :get %>
<% end %>
