<%- model_class = Prodotto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @prodotto.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prezzo) %>:</strong></dt>
  <dd><%= @prodotto.prezzo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qta) %>:</strong></dt>
  <dd><%= @prodotto.qta %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descrizione) %>:</strong></dt>
  <dd><%= @prodotto.descrizione %></dd>
  <dt><strong><%= model_class.human_attribute_name(:impresa_id) %>:</strong></dt>
  <dd><%= @prodotto.impresa_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              impresa_prodotti_path(id: @prodotto.impresa_id), :class => 'btn btn-default' ,method: :get %>
<% if utente_signed_in? %>
  <% if !current_utente.isTitolare? %>
  <%= simple_form_for @prodotto,url:  add_cart_cliente_path(current_utente.actable_id, prodotto_id: params[:id_p]),method: :post , :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.button :submit , "Aggiungi al carrello"%>
      <%= f.number_field :qta, :class => 'text_field',:value => 1 %>
    <%end%>
  <%end%>
  <% else %>
    <%= button_to "Aggiungi al carrello",  new_utente_session_path%>
<% end %>
