<%- model_class = Prodotto -%>
<div class="container">
  <div class="page-header">
    <h1><%= @prodotto.nome %></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
              <%= image_tag(@prodotto.image, :class => "img-responsive") %>
            </div>
            <div class="col-md-6">
              <dl class="dl-horizontal text-right">
                <div class="row">
                  <dt><strong><%= model_class.human_attribute_name(:impresa_id) %>:</strong></dt>
                  <dd><%= Impresa.find(@prodotto.impresa_id).getNome %></dd>
                </div>
                <div class="row">
                  <dt><strong><%= model_class.human_attribute_name(:prezzo) %>:</strong></dt>
                  <dd><%= @prodotto.prezzo %></dd>
                </div>
                <div class="row">
                  <dt><strong><%= model_class.human_attribute_name(:quantità_Disponibile) %>:</strong></dt>
                  <dd><%= @prodotto.qta %></dd>
                </div>
                <div class="row">
                  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
                  <dd><%= @prodotto.nome %></dd>
                </div>
                <div class="row">
                  <dt><strong><%= model_class.human_attribute_name(:descrizione) %>:</strong></dt>
                  <dd><%= sanitize @prodotto.descrizione %></dd>
                </div>
              </dl>
            </div>
          <div class="pull-right">
            <% if utente_signed_in? %>
              <% if !current_utente.isTitolare? %>
                <%= simple_form_for @prodotto,url:  add_cart_carrello_path(current_utente.actable_id, prodotto_id: params[:id_p]),method: :post , :html => { :class => 'form-horizontal' } do |f| %>
                  <%= f.button :submit , "Aggiungi al carrello" %>
                  <%= f.number_field :qta, :class => 'text_field',:value => 1 %>
                <%end%>
              <%end%>
            <% else %>
              <%= button_to "Aggiungi al carrello",  new_utente_session_path, :class => "btn btn-info" %>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
            <%= link_to t('.back', :default => t("helpers.links.back")),
                        impresa_prodotti_path(id: @prodotto.impresa_id), :class => 'btn btn-default' ,method: :get %>
        </div>
      </div>
    </div>
  </div>
</div>
