<div class="container-fluid footerSeparator">
  <div id="footer" class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="pull-right">
        <%= image_tag "template/logo/ap_black.png", :id => "logoFooter", :class => "img-responsive" %>
      </div>
    </div>
    <!-- Lista poli Principali -->
    <%
      @poli = Polo.all.limit(3)
      # Stampo solo i Poli Principali
      # 0 -> Palermo
      # 1 -> Catania
      # 2 -> Messina
      @poli.each do |p| %>
        <div class="footerInfo col-xs-6 col-sm-6 col-md-3">
          <h4><%= p.nome %></h4>
          <dl class="dl-horizontal">
            <div class="row">
              <div class="col-xs-3">
                <dt>Indirizzo:</dt>
              </div>
              <div class="col-xs-9">
                <dd><%= p.indirizzo %></dd>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <dt>Telefono:</dt>
              </div>
              <div class="col-xs-9">
                <dd><%= p.telefono %></dd>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <dt>Email:</dt>
              </div>
              <div class="col-xs-9">
                <dd><%= p.email %></dd>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <dt>Sito:</dt>
              </div>
              <div class="col-xs-9">
                <dd><%= p.sitoweb %></dd>
              </div>
            </div>
          </dl>
        </div>
    <% end  %>
  </div>
</div>
