<!DOCTYPE html>
<html>
<head>
  <title>PagoChiNonPaga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_page?(root_path) %>
    <%= render "layouts/barra_navigazione_home" %>
  <% else %>
    <%= render "shared/barra_navigazione" %>
  <% end %>

  <div class="">
    <%= flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
