<!DOCTYPE html>
<!--

  Copyright 2017 Alessandro Profiti, Gabriele Restuccia, Lorenzo Ricelli.

  This file is part of PagoChiNonPaga.

  PagoChiNonPaga is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PagoChiNonPaga is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

-->
<html>
<head>
  <title>PagoChiNonPaga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_page?(root_path) %>
    <%= render "layouts/home/barra_navigazione_home" %>
  <% else %>
    <%= render "shared/barra_navigazione" %>
  <% end %>
  <div class="contenuto">
    <%= flash_messages %>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
