<p id="notice"><%= notice %></p>

<h1>Listing Indirizzi</h1>

<table>
  <thead>
    <tr>
      <th>Via</th>
      <th>Ncivico</th>
      <th>Cap</th>
      <th>Quartiere</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indirizzi.each do |indirizzo| %>
      <tr>
        <td><%= indirizzo.via %></td>
        <td><%= indirizzo.ncivico %></td>
        <td><%= indirizzo.cap %></td>
        <td><%= indirizzo.quartiere %></td>
        <td><%= link_to 'Show', indirizzo %></td>
        <td><%= link_to 'Edit', edit_indirizzo_path(indirizzo) %></td>
        <td><%= link_to 'Destroy', indirizzo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indirizzo', new_indirizzo_path %>
